.hero,
.footer {
    background-color: #1F2937;
}

.hero {
font-size: 48px;
font-weight: bolder;
text-decoration-color: #f9faf8;
}

.header {
display: flex;
align-items: center;
justify-content: right;
color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-items: left;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

.photospace {
    display: flex;

}

.quotebox {
    background: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: italic;
}

.action,
button.bottom {
    background-color: #3882F6;
}

button.bottom {
    color: white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}